@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400&display=swap');

// Set your brand colors
$teal: #01579b;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$secondary: #e65100;

// border-radius
$control-radius: 2px !default;

// Update Bulma's global variables
$family-sans-serif: 'Raleway', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $teal;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$button-padding-horizontal: 1.5em !default;

@import "../node_modules/bulma/bulma.sass";